body, h1, h2, h3,p,ul {
 margin: 0;
 padding: 0;
}

#header {
 background-color: orangered;
}

.container {
 width: 70%;
 margin: 0 auto;
}

#header h1 {
 color: white;
 font-family: sans-serif;
 padding: 10px 0;
}

#navbar {
 background-color: #333;
}
#navbar ul li {
 list-style-type: none;
 display: inline;
}
#navbar ul li a {
 text-decoration: none;
 color: white;
 padding: 15px 20px;
 display: inline-block;
 font-family:sans-serif;
}
#navbar ul li:first-child a {
 padding-left: 0;
}

#showcase {
 background-image:url(maysa.jpg) ;
 background-position: center top 20% ;
 min-height: 300px;
}

#showcase h1 {
 color: white;
 font-size: 50px;
 font-family: sans-serif;
 padding-top: 50px;
 text-align: center;

}

#main {
 color: #333;
 margin-top: 30px;
} 
#main h3 {
 margin-bottom: 20px;
}

.content {
 float: left;
 width: 70%;
 padding-right: 20px;
 box-sizing: border-box;
}
.sidebar {
 float: left;
 width: 30%;
}

.sidebar {
 background-color: #333;
 color: white;
 padding: 10px 10px;
 box-sizing: border-box;
}

.clr {
 clear: both;
}

#footer {
 color: wheat;
 background-color: #333;
 text-align: center; 
 margin-top: 40px;
 padding: 20px;
 font-family: sans-serif;
 margin-bottom: 10px;

}
